{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}
  <h1>NEW</h1>
  <form action="{% url 'articles:create' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    {% comment %} <label for="title">Title: </label>
    <input type="text" name="title" id="title"><br>
    <label for="content">Content: </label>
    <input type="text" name="content" id="content"><br>
    <input type="submit"> {% endcomment %}
    {% comment %} <input type="submit"> {% endcomment %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">submit</button>
    {% endbuttons%}
  </form>
  <hr>
  <a href="{% url 'articles:index' %}">뒤로가기</a>
{% endblock content %}
